:root{
    
}
.container{
    display: flex;
}
.Logo{
    flex: 2;
    height: 100%;
    display: flex;
    border: 2px solid red;
}
.Form{
    flex: 3;
    height: 100%;
    display: flex;
    border: 2px solid blue;
}