@font-face {
    font-family: 'NordicBold';
    font-weight: bold;
    src: url('assets/Norse-Bold.otf') format("opentype");
}
html{
    font-family:Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
}
.Logo,.Form{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.Logo{
    flex: 3;
    background: url("assets/clouds.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.LogoBar{
    display: flex;
    margin-top: 30%;
    background-color: rgba(0, 0, 0, 0.3);
    flex: 1 1 1;
    width: 100%;
    justify-content: center;

}
.LogoBar p{
    font-family: NordicBold;
    font-size: 78px;
    margin:30px 0px 0px 0px;
    color: white;
    
}
.LogoBar img{
    max-width: 15%;
    height: auto;
}
.form{
    flex: 6;
    display: flex;
    flex-direction: column;
    background-color: rgb(225, 225, 225, 0.1);
}
.disclaimer{
    display: flex;
    flex: 1;
    width: 70%;
}
.disclaimer p{
    margin:0px 30px 4vh 30px;
    font-size: 24px;
    font-weight: 800;
}
.formContainer{
    display: flex;
    flex-direction: column;
    flex: 4;
    background-color: white;
    box-shadow: 0px 3px 5px rgb(121, 121, 121);
    padding-left: 4vw;
    padding-top: 2vw;
}
.blank{
    flex: 1;
}
.hype{
    flex: 1;
    font-size: 24px;
    font-weight: 600;
}
.formFields{
    flex: 5
}
form{
    border: 2px solid red;
}
