@font-face {
    font-family: NordicBold;
    font-weight: bold;
    src: url("Norse-Bold.otf") format("opentype");
}
html{

}
body{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
}
.Logo,.Form{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
.Logo{
    flex: 2;
    border: 2px solid red;
    font: NordicBold, serif;
    font-weight: bold;
    font-size: 48px;
}
.Form{
    flex: 3;
    border: 2px solid blue;
}